/* Reset box model and remove default padding/margin */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    overflow-x: hidden;
}

body{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction:column;
    background-color: #1a518a;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #004aad;
    color: white;
    padding: 10px 20px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.header{
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

.logo {
    height: 50px;
    
}

.login_icon{
    height: 30px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 40px;
}

.login_icon:hover{
    background: whitesmoke;
    border-radius: 40px;
}

.banktext h3{
    font-size: 20px;
    padding-left:  -20px;
}

.banktext p{
    font-size: 10px;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 70%;
}

.welcome h3{
    font-size: 15px;
    
}

.welcome p{
    font-size: 10px;
    text-align: end;
}


/* Sidebar Navigation */
nav{
    position: fixed;
    top: 70px;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: whitesmoke;
    width: 80px;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
nav a{
    position: relative;
    color: black;
    font-size: 14px;
    display: table;
    text-decoration: none;
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    
}
.fas , .fa{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;  
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
nav a:hover{
    background: #D3D3D3;
}

nav:hover{
    width: 250px;
    transition: all 0.5s ease;
}
.nav-link.active {
    background-color: #D3D3D3; 
    font-weight: bold;
    border-left: 4px solid #004aad;
}

/* Calculator Section Styling */
.calculator-content {
    padding: 30px;
    height: 100%;
}

.form-content {
    display: flex;
    gap: 20px;
}

.form-container {
    background: #f5f5f5;
    padding: 20px;
    margin: auto 25px auto 280px;
    border-radius: 10px;
    flex: 3;
}

.steps {
    display: flex;
    margin-bottom: 20px;
}

.step {
    display: flex;
    align-items: center;
    margin-right: 40px;
    font-size: 16px;
}

.step.active {
    font-weight: bold;
    color: #0052a5;
}

.step span {
    margin-left: 10px;
    display: inline-block;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.field-row {
    display: flex;
    gap: 10px;
}

.calculator-content input,
.calculator-content select {
    padding: 10px;
    border: 1px solid #ccc;
    width: 50%;
    border-radius: 5px;
    flex: 1;
}

.generate-box {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}
 /* Information Content */
.information-content{
    padding-left: 20px;
    padding-top:5px;
    padding-bottom: 50px;
    margin-left: 280px;
    margin-right: 25px;
    margin-top: auto;
    background-color: white;
}
.content{
    font-size: 14px;
    padding: 10px;
}
.content ul {
    padding-left: 80px;
}

/* Footer Styling */
footer {
    background-color: white;
    color: white;
    text-align: center;
    padding: 15px 10px;
    margin-top: auto;
    position: relative;
    width: 100%;
}

.footer-links {
    display: flex;
    justify-content: end;
    gap: 30px;
    flex-wrap: wrap;
}

.footer-links a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Dashboard Section Styling WORK IN PROGRESS*/
.dashboard-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    margin: 0 25px 25px 280px; 
}

.table-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 30%;

}


.card-graph {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    min-width: 30%;
    max-width: 30%;
}


table {
    background-color: #c4c4c4;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
}

.tableHeader {
    background-color: #2881d1;
    color: white;
}